name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy application
        run: |
          echo "Connecting to server..."
          echo "Uploading build files..."
          echo "Restarting application..."
          echo "Deploy success!"

